@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

* {
  font-family: 'Krub', sans-serif;
}

h1 {
  font-family: 'Kumar One', serif ;
}

section{
  overflow:hidden;  
}


.bgGrid{
  background-size: 40px 40px;
  background-image: linear-gradient(to right, white 1px, transparent 1px), linear-gradient(to bottom white 1px, transparent 1px);
}

.nav-dot {
  width: 40px; /* Adjust width and height as needed */
  height: 40px;
  background-image: url('./assets/nav.svg');
  background-size: contain; /* Ensure SVG fits inside button */
  background-repeat: no-repeat; /* Prevent SVG from repeating */
  background-position: center; /* Center SVG within button */
  border: none; /* Remove button border */
  cursor: pointer; 
}

span {
  font-family: inherit;
  font-weight: inherit;
}

/* active tab styling */
.active {
  font-weight: bold;
  color: #9E5A1B;
  /* border: .2rem solid #004643; */
  /* padding: .2rem; */
  background-color: transparent;
}

.specialBtn {
  border-radius: 3px;
  border: 1px solid;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.2s;
}

.specialBtn:hover{
  border-color: #D22727;
}


/* button:hover{
  border-color: 'highlight'
}

button:focus, :focus-visible{
  outline: 4px auto -webkit-focus-ring-color;
}

.specialBtn{
  border-color: ' #9E5A1B';
}
 */
